@import "src/assets/styles/main.scss";

.container-header
{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 21px;
    box-sizing: border-box;
    box-shadow: $box-shadow;
    transition: $transition;
    background-color: var(--background-cards);
    
    .container-logo
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;

        .menu-top-title
        {
            font-size: 2.3vh;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}
