@import 'src/assets/styles/main.scss';

.container-page
{
    padding: 52px;
    box-sizing: border-box;

    .title
    {
        font-size: 32px;
        margin-bottom: 32px;
    }
    
    .sub-title
    {
        font-size: 27px;
        margin-top: 32px;
    }

    .message
    {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .container-examples
    {
        display: flex;
        align-items: center;
        grid-gap: 12px;
        margin-top: 12px;
    }
}
