<div class="container-menu">
    
    <!-- Title -->
    <h2 class="title">Componentes</h2>

    <!-- Itens -->
    <div class="container-itens-components">

        <!-- Buttons -->
        <div 
            [routerLink]="'/list-components/buttons'"
            [routerLinkActive]="'active'"
            class="item">button
        </div>
        
        <!-- Inputs -->
        <div 
            [routerLink]="'/list-components/inputs'"
            [routerLinkActive]="'active'"
            class="item">inputs
        </div>
    </div>
</div>