<div class="container-page">

    <!-- Title -->
    <h1 class="title">Buttons</h1>

    <!-- Messages -->
    <p class="message">Os botões são parte fundamental de qualquer projeto, com o vuesax você pode adicionar um ótimo botão com uma única linha de código</p>
    <p class="message">os botões possuem todos os estados como ativo, foco, foco, para tornar sua implementação mais simples e agilizar o trabalho</p>

    <!-- Examples -->
    <div class="container-examples">
        <fover-button>primary</fover-button>
        <fover-button
            [type]="'transparent'">transparent
        </fover-button>
    </div>

    <!-- Code example -->
    <fover-editor
        [code]="teste">
    </fover-editor>
</div>