@import "assets/styles/reset.scss";
// @import '~codemirror/lib/codemirror';
// @import '~codemirror/theme/material';

body
{
    background-color: var(--background-page);
    color: var(--title);
    font-family: 'Josefin Sans', sans-serif;
}
